:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--root-bg);
}

body {
  min-width: 320px;
  min-height: 100vh;
}

:root {
  /* Colors definitions */
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #888888;
  --medium-grey: #d0d0d0;
  --light-grey: #f0f0f0;
  --xlight-grey: #fcfcfc;

  --theme-dark: #0c50d2;
  --theme: #44b7ef;
  --theme-light: #e1f3ff;
  --theme-xlight: #f7fbff;

  /* Logo */
  --then: var(--theme-dark);
  --else: var(--theme);

  /* Common button */
  --button-border: var(--medium-grey);
  --button-border-hover: var(--dark-grey);
  --button-border-selected: var(--dark-grey);

  --button-bg: var(--xlight-grey);
  --button-bg-hover: var(--theme-xlight);
  --button-bg-selected: var(--theme-light);

  /* Border : code snippet */
  --border: var(--medium-grey);

  /* Markdown inline code */
  --bg-md-inline-code: #fdf6e3;
  --text-md-inline-code: #9f8228;

  --result-correct: #469f67;
  --result-incorrect: #b76161;
}
