.app {
  max-width: 1200px;
  margin: 0px auto;
  /* padding: 2rem; */
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

header button {
  border: 2px solid var(--color-btn-border-grey);
  background-color: var(--color-btn-grey);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

header button:hover {
  border: 2px solid var(--color-btn-border-pink);
  background-color: var(--color-btn-lightpink);
}

/* === RequestView components ==================================== */

.filelist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filelist-button {
  display: block;
  width: 100%;
  text-align: left;
  background: var(--color-btn-grey);
  border: none;
  padding: 0.2rem 1rem;
  cursor: pointer;
  border-radius: 0;
}

.filelist-button:hover {
  background: var(--color-btn-darkgrey);
}

.filelist-button.selected {
  background: var(--color-btn-lightpink);
}

.filelist-request-name {
  font-weight: bold;
}

.filelist-date {
  font-size: 0.9em;
  color: #888;
}