.app {
  max-width: 1200px;
  margin: 0px auto;
  /* padding: 2rem; */
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

/* === Header Style ==================================== */

header {
  display: flex;
  justify-content: center;
  width: fit-content;
  white-space: nowrap;
}

.header-button {
  width: 10%;
  font-size: 1.3rem;
}

/* === Common button ==================================== */

.button {
  display: block;
  width: 100%;
  text-align: left;
  background: var(--button-bg);
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0;
  display: flex;
  border: 0;
}

.button:hover {
  background-color: var(--button-bg-hover);
}

.button.selected {
  transition: ease-in 0.1s;
  background: var(--button-bg-selected);
}

.selector {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--medium-grey);
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 1rem;
}


/* === RequestView components ==================================== */

.filelist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filelist-request-name {
  flex-grow: 1;
  font-weight: bold;
}

.filelist-date {
  font-size: 0.9em;
  color: #888;
}

/* === RequestViewer components ==================================== */

.monospace-textarea {
  width: 100%;
  min-height: 800px;
  font-family: monospace;
  font-size: 0.8rem;
  resize: vertical;
  background-color: var(--light-grey);
  border: 1px solid var(--medium-grey);
  padding: 0.5rem;
  box-sizing: border-box;
}

.snippet-pre {
  border: 1px solid var(--medium-grey);
  padding: 0.5rem;
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 100%;
  /* optionnel: pour éviter le débordement vertical */
  overflow-x: auto;
  background-color: var(--light-grey);
}