:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg-white);
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg-white);
}

:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  --color-bg-white: #ffffff;

  --color-btn-grey: #fafafa;
  --color-btn-darkgrey: #f0f0f0;
  --color-btn-lightpink: #ffe0f0;
  --color-btn-border-grey: #d8d8d8;
  --color-btn-border-pink: #ffaed8;
}